---
layout: default
title: Home
---

<section id="home-about" class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">UMBC Linux Users' Group</h1>
        <p class="lead">An on campus club dedicated to Linux and open source software!</p>
        <hr class="lead-4" />
        <p>Weekly meetings every {{ site.umbclug-day }}, from {{ site.umbclug-time }} in {{ site.umbclug-place }}.</p>
    </div>
</section>


<section class="container">
    <h1>Latest News <a href="{{site.social.mailinglist}}"><i class="fas fa-envelope icon-orange"></i></a> <a href="/feeds/latest.xml"><i class="fas fa-rss-square icon-orange"></i></a></h1>

    <p><em>
      RIT students, please subscribe on <a href="https://campusgroups.rit.edu/student_community?club_id=16071" target="_blank">CampusGroups</a>;
      RIT's filters don't like the public list.
      RIT non-students, please email {{ site.email }} to be added on CampusGroups.
      (todo: update for umbc)
    </em></p>

    {% for post in site.categories.announcements limit: 1 %}
      {% include content-blocks/post-preview.html %}
    {% endfor %}

    <a class="btn btn-primary btn-block" href="/announcements" style="margin-bottom:1.2em;">View More</a>
</section>
